@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: grid;
  grid-template: 1fr 6fr / 1fr 4fr;
  height: 100vh;
  margin: 0;
  font-family: Roboto;
}

nav {
  display: grid;
  grid-template-rows: 200px 1fr 1fr;
  background-color: #1992d4;
  color: white;
  grid-row: span 2;
  z-index: 2;
  align-items: start;
  padding-top: 20px;
  padding-left: 30px;
}

nav svg {
  fill: white;
}

nav a {
  padding: 5px 15px;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px 20px;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
}

nav a:visited {
  color: currentColor;
}

.title-nav {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

header {
  display: grid;
  align-items: center;
  grid-template: 1fr 1fr / 120px 4fr 2fr;
  background-color: white;
  box-shadow: 0px 5px 10px lightgray;
  justify-items: center;
  padding-right: 20px;
}

.searchbar {
  grid-column: span 2;
  justify-self: stretch;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  align-items: center;
}

.searchbar > svg {
  justify-self: end;
  padding-left: 30px;
}
.searchbar > input {
  border: none;
  background-color: #d9dde8;
  border-radius: 25px;
  height: 2rem;
  flex-grow: 1;
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0px 15px;
}

.avatar {
  border-radius: 50%;
}

.big.avatar {
  height: 70px;
}

.small.avatar {
  height: 50px;
}

.user-info {
  display: grid;
  grid-template-columns: 2rem 100px 1fr;
  align-items: center;
  justify-items: center;
  justify-self: end;
  font-weight: bold;
  font-size: 1.2rem;
}

.user-greeting {
  justify-self: start;
  font-weight: bold;
}

.full-username {
  font-size: 1.5rem;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-self: end;
}

.header-buttons > button {
  background-color: #2096d5;
  border: none;
  color: white;
  border-radius: 25px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.3rem;
  height: 2.5rem;
  padding: 0 25px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  padding: 30px;
  background-color: #e3e8f0;
  z-index: 1;
}

.project,
.annoncements,
.trends {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 5px 6px #c7cbd2;
  padding: 10px 30px;
}

.projects-container {
  grid-row: span 2;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  border-left: 10px solid #f0b429;
}

.annoncements h4 {
  margin-bottom: 0;
}

.annoncement:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.trends {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 50px 1fr;
  gap: 30px;
  padding: 30px 20px;
}

.trend {
  display: contents;
}

.trend .usertag {
  font-weight: bold;
}

.trend .project-title {
  color: rgb(90, 90, 90);
}
